<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>
        Edit your quote.
    </h2>
    <form action="/edit/<%= quote._id %>" method="post">
        <lable>
            quote: <input type="text" name="quote" value="<%= quote.quote %>" />
        </lable>
        <label>
            name: <input type="text" name="name" value="<%= quote.name %>" />
        </label>
        <button type="submit">
            Update
        </button>
    </form>
</body>
</html>