<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h2>
        May the code be with you.
    </h2>

    <ul>
        <% quotes.forEach((quote) => { %>
            <li>
                <%= quote.name %> said "<%= quote.quote %>"
            </li>
            <button>
                <a href="/edit/<%= quote._id %>">
                    UPDATE
                </a>
            </button>
            <form action="/remove/<%= quote._id %>" method="post">
                <button type="submit">
                    DELETE
                </button>
            </form>
            <br></br>
        <% }) %>
    </ul>

    <% if (quotes.length > 0) { %>
        <form action="/deleteall" method="post">
            <button type="submit">
                Delete all
            </button>
        </form>
    <% } %>


    <hr/>

    <h3>
        Add star wars quotes below.
    </h3>

    <form action="/" method="post">
        <label>
            Name : <input type="text" placeholder="name" name="name" />
        </label>
        <label>
            quote : <input type="text" placeholder="quote" name="quote" />
        </label>
        <br></br>
        <button type="submit">
            Submit
        </button>
    </form>

</body>
</html>